*,
html {
    max-width: 100vw;
    scroll-behavior: smooth !important;
}

body {
    margin: 0;
    background-color: #F8F7F3 ;
    color: #231F20;
    display: flex;
    flex-direction: column;
    align-items: center;
}

span {
    background: linear-gradient(
        100deg,
        rgba(255, 221, 64, 0) 0.9%,
        rgba(255, 221, 64, 1) 2.4%,
        rgba(255, 221, 64, 0.5) 5.8%,
        rgba(255, 221, 64, 0.1) 93%,
        rgba(255, 221, 64, 0.7) 96%,
        rgba(255, 221, 64, 0) 98%
      ),
      linear-gradient(
        180deg,
        rgba(255, 221, 64, 0) 0%,
        rgba(255, 221, 64, 0.3) 7.9%,
        rgba(255, 221, 64, 0) 15%
      );
    border-radius: 0.125em;
    box-decoration-break: clone;
    padding: 0.125em 0.25em;
  }
  

.civicengine-container {
    background: #BFD7EA;
    margin: 0 auto;
    max-width: 500px;
    padding: 1rem;
    border-radius: 0.3rem;
    opacity: 0.95;
}


.gen-z-sticker {
    width: 50px;
    height: auto;
    position: fixed;
    right: 10px;
    bottom: 10px;
    transition: .2s;
}

.gen-z-sticker:hover {
    transform: scale(1.2);
    transform-origin: bottom right 60px;
    transition: .2s;
}

#landing {
    margin: 0;
    height: 100vh;
    text-align: center;
}


h1 {
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4065AF;
    margin: 0;
    background-image: url("assets/homepage.png");
    background-size: cover;
    background-position: center;
    box-shadow: inset 1px 0 30px black;

}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-shadow: 1px 1px 10px white;
    font-size: 30px;
    text-decoration: none;
}



#about {
    text-align: center;
    /* min-height: 34vh; */
    padding: 20px 10% 0;
    min-width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;

    & p {
        font-family: 'Josefin Sans', sans-serif;
        color: black;
        line-height: 25px;
        font-size: 20px;
    }
}



@media screen and (max-width: 500px) {

    .gen-z-sticker {
        display: none;
    }
    #about {
        & p {
            font-size: 18px;
        }
    }
}